@layout('layout.main')
@section('dashboard')

<h1 class="h3 mb-2 text-gray-800">Cadastrar Produto</h1>
<p class="mb-4">Página para cadastro de mais produtos</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Produtos</h6>
    </div>
    <div class="card-body">
        <div id="dataTable_wrapper">
        </div>
    </div>
</div>
@endsection